*{
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

nav{
  background-color: rgb(214, 100, 123);
  color: white;
  padding: 10px;
  text-align: center;
  
}



.container{
  background-color: rgb(216, 130, 98);
  width:70%;
  min-height:100vh;
  margin: auto;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}

.container > form{
  display: flex;
  flex-direction: column;
}

h1{
  text-align: center;
  color: antiquewhite;
  margin: 30px;
  font-size: 2.5rem;
}

input,textarea,button{
  padding: 15px;
  margin:10px 0px;
  outline: none;
  border: 1px rgba(0,0,0,0.214);
  border-radius: 5px;
  font-size: 1.2rem;
}

button{
  cursor: pointer;
  
}

button:hover{
  border: none;
  background-color: crimson;
}

.task{
  display: flex;
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 20px;
  align-items: center;
}

.task > div{
  width: 100%;
}

.task > span{
  color:rgb(214, 196, 196);
}


.task button{
  border-radius: 50%;
  background-color: crimson;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button:hover{
  background-color:red;
}